
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Hello Gov
      </h1>

      <p class="govuk-body">
        Here is my source code
      </p>

      <p class="govuk-body">
        Run it for me in the cloud
      </p>

      <p class="govuk-body">
        I do not care how
      </p>
    </div>
</div>

{% endblock %}
